body {
  font-family: "Lato", "Calibri Light" ,-apple-system;
}
            
#title {
  border-bottom: 2px solid rgb(196, 196, 196);
  padding-bottom: 5px;
}


#about-us {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
                
}
            
#about-us-text {
  text-align: center;
  width: 300px;
                
}
            
.top {
  font-family: "Lato", "Calibri Light" ,-apple-system;
  text-decoration: none;
  color: black;
  padding-left: 20px;
  position: relative;
  bottom: 50px;
}
            
a:hover {
  color: rgb(161, 159, 161);
  text-decoration: underline;
}
            
.medium-img {
  width: 188px;
  text-align: center;
}
            
.small-img {
  width: 88px;
}
            
.center {
                
  text-align: center;
}
            
#shop-now-text {
  color: black;
  text-decoration: none;
}

.featured-names {
 padding-left: 20px;
 
}

 .about-esther {
     float: right;
     width: 50%;
     font-size: 15px;
 }

 
 .esther-img {
   width: 50%;
 }
 
 .isaac-img {
   width: 25%;
   padding-left: 1px;
 }
 
 .esther {
   width: 50%;
   margin: 0 auto;
 }
 
 .isaac {
   width: 50%;
   margin: 0 auto;
 }
 
 .about-isaac {
     float: left;
     width: 50%;
     font-size: 15px;
 }
